body{height: 100vh;display: flex;align-content: center;justify-content: center;flex-wrap: wrap;}
.clockbox{background-color: black;width: 700px;height: 320px;border-radius: 33px;display: flex;align-items: center;justify-content: center;color: rgb(204, 204, 0);}
.hour{height: 100%;font-size: 40vh;}
.comma{height: 100%;font-size: 40vh;padding-bottom: 35px;}
.minute{height: 100%;font-size: 40vh;padding-bottom: 35px;padding-top: 35px;}
button{border-radius: 33px;}
#butto{margin-bottom: auto;margin-top: auto;margin-left: 20px; }
